@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
=======

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f9fafb;
  color: #111827;
}
>>>>>>> 1a3d6a049e30818b63a792ab3cb2d5f27ed480d1
